.recipe {

  &-info {
    &__left {
      background-color: $white-lite;
    }
  }

  &__social {
    &__list {
      list-style: none;
      margin: 0;
    }

    &__list li {
      display: inline;
      padding-right: 1em;
    }

    &__icon {
      cursor: pointer;
    }
  }

  &__footer {
    border-top: 1px solid #9e9e9ec9;
    border-bottom: 1px solid #9e9e9ec9;

  }
}