// Body
$body-bg: #f8fafc;

// Colors 
$white: #fff;
$white-lite: rgba(255,255,255,.5);
$text-white: #fafafa;
$link-hover: rgb(10, 227, 10);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
